@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Oxygen&family=Oxygen+Mono&display=swap');

:root {
    --black: #26250F;
    --maroon:#8C1F28;
    --aqua:#18DBFD;
    --skyblue:#A3CFE8;
    --lightblue:#EBF0F4;
    --lightgray:#DCE6F2;
    --lighpink:#F2C9E0;
    --darkbllue:#150F40;
    --purple:#262A73;
    --navyblue:#3345A6;
    --skin:#F29966;
    --orange:#F25A38;
    --white:#FFFFFF;
    --yellow:#F2E852;
    --baige:#F2CD88;
    --hotpink:#F227AB;
    --lighpink:#F7C6D0;
    --plum:#4b0d49;
    --mono: "Oxygen mono",monospace;
    --sans:Oxygen,sans-sarif;
}

*, *::before,*::after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    font-size: var(--font-size);
    font-family: var(--sans);
    margin: 0;
    padding: 0;
}

#intro{
    color:var(--white);
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 3rem;
}

#intro span {
    display: block;
    font-size: 3rem;
    color: var(--aqua);
    line-height: 2.0;
}

#intro h2 {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 20px;
}

#intro p {
    font-size: 1rem;
    margin:0;
    line-height: 2.0;
}

#intro p:nth-of-type(3) a {
    text-decoration: none;
    color:var(--hotpink);
}
/* nav bar */
.gradient {
    background: linear-gradient(90deg, rgba(215,81,90,1) 29%, rgba(0,212,255,1) 100%);
    height: 3px;
}

nav {
    color: var(--white);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0 60px 0;
    font-family: var(--mono);
}

nav a {
    text-decoration: none;
    color: var(--white);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding:0;
}

nav li:first-child {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav li:first-child h2:hover{
    color: var(--hotpink);
}

nav li:first-child svg:hover  {
    fill: var(--hotpink);
}

nav li:first-child svg {
    width: 40px;
    height: 40px;
    fill: var(--aqua);
}

nav li:nth-of-type(5) svg,
nav li:nth-of-type(6) svg{
    width: 40px;
    height: 40px;
    fill: var(--aqua);
}

nav li {
    list-style-type: none;
}
 
nav li a:hover{
    color: var(--hotpink);
}

nav li a svg:hover {
    fill: var(--hotpink);
}

nav li:last-child a{
    padding: 8px;
    background-color: var(--hotpink);
    border-radius: 8px;
    color: var(--white);
}

nav li:last-child a:hover{
    background-color: var(--aqua);
}

/*footer styles */
footer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    color: var(--white);
}

footer h3 {
    font-size: 1.9rem;
    margin: 0;
}

footer ul {
    display: flex;
    list-style-type: none;
    gap:1.5rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

footer li:first-child svg  {
    width: 40px;
    height: 40px;
    fill: var(--hotpink);
}

footer li:first-child svg:hover  {
    fill: var(--lighpink);
}

footer li:nth-of-type(2) svg,
footer li:nth-of-type(3) svg{
    width: 40px;
    height: 40px;
    fill: var(--hotpink);
}

footer li:nth-of-type(2) svg:hover,
footer li:nth-of-type(3) svg:hover{
    fill: var(--lighpink);
}

/* Contact me styles */
.section-plum{
    background-color: var(--plum);
}

#contact {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0;
    color: var(--white);
}

#contact h2 {
    font-size: 1.8rem;
}

#contact p {
    font-size: 1.2rem;
    padding-bottom: 20px;
}

#contact a {
    padding: 12px;
    background-color: var(--hotpink);
    border-radius: 8px;
    text-decoration: none;
    color: var(--white);
    font-family: var(--mono);
}